@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    border:none;
}
body{
    font-family:Ubuntu, sans-serif;
    font-weight: 300;
}


table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    padding: 14px;
    margin: 14px;
    border-collapse: collapse;
}